In [20]:
import pandas as pd
import datetime
from os import listdir
from os.path import isfile, join
import glob
import re

In [21]:
df = pd.read_csv('Documents/Data.csv')
df.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,7.440000e+03,7.554000e+03,8.386000e+03,7.773000e+03,7.802000e+03,7.846000e+03,7.892000e+03,8.559000e+03,7.960000e+03,8.006000e+03,...,3.699500e+04,3.674800e+04,3.799900e+04,4.236500e+04,4.798500e+04,4.182000e+04,3.787100e+04,4.437000e+04,1.680500e+04,243.000000
mean,1.360038e+09,1.382693e+09,2.462948e+09,2.862819e+09,3.141853e+09,3.447357e+09,3.718499e+09,3.653649e+09,4.253763e+09,4.664587e+09,...,2.388538e+10,2.664798e+10,2.541022e+10,2.486479e+10,2.406509e+10,2.906663e+10,3.350305e+10,2.920719e+10,7.339387e+10,21.546432
std,3.026207e+10,3.134835e+10,4.431332e+10,4.943750e+10,5.394760e+10,5.880588e+10,6.409045e+10,6.568635e+10,7.415669e+10,8.124053e+10,...,7.751295e+11,8.420729e+11,8.084278e+11,8.192256e+11,8.336716e+11,9.303662e+11,1.013137e+12,9.541838e+11,1.487966e+12,12.159643
min,-5.030042e+00,-2.730000e+01,-1.968504e+01,-1.227866e+01,-1.246499e+01,-1.248183e+01,-7.659066e+00,-1.574363e+01,-1.216903e+01,-6.554143e+00,...,-1.006749e+01,-3.583668e+01,-1.481416e+01,-7.142991e+00,-6.207592e+01,-4.608212e+01,-3.701196e+01,-2.400000e+01,-2.034873e+01,0.000000
25%,5.042912e+01,4.980143e+01,4.338068e+01,5.030710e+01,5.033103e+01,5.053515e+01,5.042263e+01,4.397520e+01,5.070011e+01,5.070343e+01,...,1.503522e+01,1.468939e+01,1.350000e+01,1.440000e+01,7.814477e+00,1.387551e+01,1.120276e+01,9.442916e+00,5.400000e+00,13.450000
50%,3.278500e+03,2.378000e+03,8.770000e+02,2.488000e+03,2.458500e+03,2.444500e+03,2.377500e+03,8.610000e+02,2.454500e+03,2.401500e+03,...,4.895888e+01,4.918022e+01,4.857516e+01,4.518687e+01,3.460000e+01,4.557407e+01,4.788559e+01,3.340000e+01,5.054725e+01,20.000000
75%,1.712580e+05,1.662558e+05,1.454448e+05,1.887030e+05,1.924130e+05,1.980740e+05,1.969452e+05,1.607690e+05,2.089812e+05,2.074460e+05,...,9.200000e+01,9.210000e+01,9.197142e+01,8.553784e+01,7.880000e+01,8.550089e+01,9.139260e+01,7.643584e+01,1.128200e+04,27.843056
max,1.364643e+12,1.420440e+12,1.524573e+12,1.638187e+12,1.799675e+12,1.959900e+12,2.125397e+12,2.262923e+12,2.470818e+12,2.720587e+12,...,5.758343e+13,6.312856e+13,6.114177e+13,6.564782e+13,7.284314e+13,7.442836e+13,7.720115e+13,7.841057e+13,7.667880e+13,64.800000

In [22]:
df.head(1
    )

,Country.Name,Country.Code,Indicator.Name,Indicator.Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Arab World,ARB,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.585854,5.611509,7.350393,8.645366,10.059527,12.358258,15.225028,17.751386,21.102336,NaN

In [23]:
# Melting
id_vars = ["Country.Name",
           "Country.Code",
           "Indicator.Name",
           "Indicator.Code"]

df = pd.melt(frame=df,id_vars=id_vars, var_name="year", value_name="value")

# Formatting 
df["year"] = df["year"].str.extract('(\d+)', expand=False).astype(int)
df["value"] = df["value"].astype(float)

# Cleaning out unnecessary rows
df = df.dropna()

df = df[["Country.Name",
           "Country.Code",
           "Indicator.Name",
           "Indicator.Code",
           "year",
           "value"]]

df = df.sort_values(ascending=True, by=["Country.Name","Indicator.Name","year"])

# Assigning the tidy dataset to a variable for future usage
melteddf = df

df.head(1)

,Country.Name,Country.Code,Indicator.Name,Indicator.Code,year,value
7269408,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,2000,0.0